.div {
  border: 1.5px dashed #f0aa8d;
  border-radius: 30px;
  padding: 40px 0px;
  margin-top: 24px;
}

.ul {
  list-style-type: none;
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
}

.li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
}

.widthSubject {
  max-width: 74px;
}

.statistic {
  font-weight: 500;
  font-size: 28px;
}

.explanation {
  font-weight: 300;
  font-size: 14px;
  width: 96px;
}
